<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	
	<select id="menuList" resultType="com.project.domain.MenuVO">
		SELECT
		board_idx,
		board_name
		FROM menu
		ORDER BY board_idx
	</select>
	
</mapper>